.dashboard-container {
    /* display: flex;
    flex-direction: column;*/
    width: 100%;
    /* height: 100vh;  */
  }
  
  .main-content {
    position: relative;
    top: 65px;
    display: flex;
    flex-grow: 1; /* Take up remaining space */
    /* padding: 20px; */
    transition: margin-left 0.3s ease;
    box-sizing: border-box;
    width: 100%;
  }
  
  .stockpile-section.expanded {
    margin-left: 230px; /* Adjust when sidebar is expanded */
  }

  .stockpile-section.collapsed {
    margin-left: 70px; /* Adjust when sidebar is collapsed */
  }

  .stockpile-section {
    /* margin-left: 250px; Adjust based on sidebar width */
    padding: 20px;
    width: 100%;
    margin-left: 230px;
    transition: margin-left 0.3s ease;
  }
  
  .stockpile-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .stockpile-btn, .add-stockpile-btn {
    padding: 10px 20px;
    border: none;
    background-color: #e8f2ed;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-stockpile-btn {
    background-color: #d6f5d6;
  }
  
  .stockpile-items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
  }
  
  .stockpile-item {
    display: flex;
    background-color: #F8FAFC;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 160px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    flex-basis: 160px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

  }
  
  .stockpile-item-indiv1
  {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
  .stockpile-item-indiv2
  {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;;
  }

  .stockpile-item img {
    width: 50px;
    height: auto;
    /* margin-bottom: 10px; */
  }
  
  .stockpile-item h3 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .stockpile-item p {
    font-size: 14px;
    color: #777;
  }
  
  .stockpile-item span {
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .stockpile-items {
        justify-content: center; 
    }
    .stockpile-item {
        width: 140px; 
    }
}

@media (max-width: 576px) {
    .stockpile-items {
        flex-direction: column;
        align-items: center;
    }
    .stockpile-item {
        width: 100%;
        max-width: 300px;
    }
}
  

/* -----------------card slider---------------- */

.stockpile-items-slider{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.left-nav-arrow{
  rotate: 180deg;
}

.left-nav-arrow-img{
  width: 25px;
  height: auto;
}
.right-nav-arrow-img{
  width: 25px;
  height: auto;
}

/* -------- arrow --------- */
.arrow {
  top: -21px;
  right: -15px;
  width: 15px;
  height: 3px;
  background-color: red; /* Starting color for the arrow body */
  position: relative;
  transform: rotate(130deg); /* Rotate the arrow to point bottom-left */
  animation: blink 1s infinite, scale 1s infinite; /* Combine the blinking and scaling animations */
}

/* Keyframes for blinking effect */
@keyframes blink {
  0%, 100% {
    background-color: red; /* Initial color */
  }
  50% {
    background-color: orange; /* Color halfway through the blink */
  }
}

/* Keyframes for scaling effect */
/* @keyframes scale {
  0%, 100% {
    transform: rotate(130deg) scale(1);
  }
  50% {
    transform: rotate(130deg) scale(1.1);
  }
} */

.arrow::after {
  content: '';
  position: absolute;
  right: -6px;
  top: -3.72px;
  width: 0;
  height: 0;
  border-left: 7px solid red; /* Arrow head color */
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  animation: blink-head 1s infinite; /* Add a separate blinking animation for the arrowhead */
}

/* Keyframes for blinking effect for the arrowhead */
@keyframes blink-head {
  0%, 100% {
    border-left-color: red; /* Initial color */
  }
  50% {
    border-left-color: orange; /* Color halfway through the blink */
  }
}
