.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-content {
    display: flex;
    flex-grow: 1;
}

.stockpile-section {
    flex-grow: 1;
    padding: 20px;
}

.tab-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 37px;
    flex-wrap: wrap;
    flex-direction: row;
}

.stock-record-search {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin-top: 10px;
}
.search-Img
{
    width: 15px;
    padding: 8.6px;
    border: 1px solid #e0e0e0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* border-left-width: 0; */
    background-color: #f6faf6;
}

.search-input {
    width: 200px;
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right-width: 0;
    background-color: #f6faf6;
    font-size: 14px;
    color: #666;
    outline: none;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #e0e0e0;
    /* color: white; */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    margin-top: 10px;
}

.tab-button.active {
    background-color: #1c4532;
    color: white;
}

.tab-button:hover {
    background-color: #145324;
}

.tab-content {
    padding: 20px;
    /* background-color: #f9f9f9; */
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    overflow-x: auto;
    align-items: center;
    justify-items: stretch;    
    margin-top: 35px;
}

.stock-rec-table-container {
    width: 100%;
    overflow-x: auto;  
    border-radius: 10px;
}

.stock-rec-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.stock-rec-table th, .stock-rec-table td {
    padding: 15px;
    line-height: 1.8;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.stock-rec-table td {
    color: #777;
}

.stock-rec-table th {
    background-color: #f2f2f2;
    color: #333;
}

.stock-rec-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.stock-rec-table tbody tr:hover {
    /* background-color: #e0e0e0; */
    background-color: #f1f1f1;
}

/* Responsive table design */
/* @media (max-width: 768px) {
    .stock-rec-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        table-layout: fixed;
    }

    .stock-rec-table th, .stock-rec-table td {
        text-align: left;
        padding: 8px 5px;
    }
} */

/* Stacked table for small screens */
/* @media (max-width: 600px) {
    .stock-rec-table,
    .stock-rec-table thead,
    .stock-rec-table tbody,
    .stock-rec-table th,
    .stock-rec-table td,
    .stock-rec-table tr {
        display: block;
    }

    .stock-rec-table tr {
        margin-bottom: 15px;
    }

    .stock-rec-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .stock-rec-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 15px;
        width: calc(50% - 15px);
        text-align: left;
        font-weight: bold;
    }

    .stock-rec-table th {
        display: none;
    }
} */

.gen-rep-btn-div
{
    display: flex;
    margin-bottom: 120px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.select-file-type {
    background-color: #1c4532;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
  }

.generate-report-btn {
    background-color: #1c4532;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.generate-report-btn:hover {
    background-color: #2f6b50;
}
