/* stock_mn_header.css */
.header-wrap
{
  position: fixed;
  width: 100%;
  z-index: 10;
}
.st-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f7f6; /* Light background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-home-link{
  text-decoration: none;
}

.st-logo h1 {
  font-size: 18px;
  font-weight: bold;
  color: #1c4532; /* Dark green accent color */
}

.st-header-right {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-dot {
  position: absolute;
  top: 0px; 
  right: -0.5px;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #FF5733; 
  box-shadow: 0 0 5px rgba(255, 87, 51, 0.7); /* Light red shadow */
  animation: blinkAndScale 1s infinite; 
}

@keyframes blinkAndScale {
  0%, 100% {
    transform: scale(1); /* Normal size */
    opacity: 1; /* Fully visible */
  }
  50% {
    transform: scale(1.4); /* Slightly bigger */
    opacity: 0.7; /* Slightly transparent */
    box-shadow: 0 0 10px rgba(255, 87, 51, 0.7); /* Larger shadow */
  }
}

.st-notifications {
  margin-right: 15px;
  position: relative;
}

.st-bell-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.st-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* ------------------ notification ------------------- */

.noti-sec-outer-div::before {
  content: '';
  position: absolute;
  top: -14px;
  left: 62%;
  /* transform: translateX(-50%); */
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 17px solid #fff;
}


.noti-sec-outer-div{
  z-index: 99;
  top: 60px;
  position: absolute;
  right: 30px;
  /* padding: 5px; */
  padding-left: 14px;
  padding-bottom: 25px;
  background-color: #fff;
  width: 320px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-radius: 6px;
}

.notify-title{
  margin-top: 10px;
  margin-bottom: 8px;
}

.notification-section{
  width: 320px;
  height: 304px;
  background-color: #f6faf6;
}

.noti-sec-inner-div{
  display: flex;
  background-color: #f6faf6;
  flex-direction: column;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  overflow-y: scroll;
}

.notification-item{
  display: flex;
  height: 46px;
  width: 290px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 3px;
}

.notification-item p{
  font-size: 12px;
  color: #555;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 270px;
}

.notification-item:hover{
  background-color: #f1f1f1;
  border-left: 2px solid #1c4532;
}

