/* unload_modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Darkens the background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.unload-modal {
    background: white;
    padding: 30px;
    width: 500px;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    animation: popup-animation 0.3s ease-out;
}

@keyframes popup-animation {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}
.item-name-div
{
    display: flex;
    justify-content: center;
}
.item-name-inner-div
{
    width: 407px;
}

.unloading-sections-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-group select {
    width: 182px !important;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.radio-btn
{
    width: fit-content !important;
}

.unloading-sections-div .form-group input{
    width: 180px;
}
.radio-group-outer-div
{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 30px;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    width: 407px;
    justify-content: flex-start;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.modal-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 15px;
}

.unload-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.unload-btn:hover {
    background-color: #218838;
}

.cancel-btn:hover {
    background-color: #c82333;
}
